
.card-back {
  background-image: url('../images/bg-card-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card-back p {
   position: absolute;
   top: 46%;
   right: 12%;
   letter-spacing: 0.1em;
   font-size: var(--fs-300);
}