.card-front {
  background-image: url('../images/bg-card-front.png');
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 0.15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-front svg {
  scale: 0.7;
  margin-left: -1em;
  margin-top: -1em;
}
.card-number {
  font-size: var(--fs-600);
}
.card-bottom-section {
  display: flex;
  justify-content: space-between;

}
.card-holder-name,
.card-expiry-date {
  font-size: var(--fs-300);
  text-transform: uppercase;
}