.card-front {
  width: 280px;
  height: 150px;
  color: var(--neutral-300);
  padding: 1.8em;
  border-radius: 8px;
  background-image: url('../images/bg-card-front.png');
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 0.15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-front svg {
  scale: 0.7;
  margin-left: -1em;
  margin-top: -1em;
}
.card-number {
  font-size: var(--fs-500);
}
.card-bottom-section {
  display: flex;
  justify-content: space-between;

}
.card-holder-name {
  font-size: var(--fs-300);
  text-transform: uppercase;
}